In [2]:
import pandas as pd

In [26]:
inat_obs_df = pd.read_csv('observations_mapped.csv',sep=',')
inat_obs_df.head()

,id,observed_on,time_observed_at,time_zone,user_id,created_at,license,url,captive_cultivated,place_guess,...,geoprivacy,taxon_geoprivacy,coordinates_obscured,positioning_method,positioning_device,scientific_name,common_name,iconic_taxon_name,taxon_id,geonameid
0,2420,2005-03-12,2005-03-12 05:16:00 UTC,Sydney,221,2009-04-26 11:11:33 UTC,NaN,http://www.inaturalist.org/observations/2420,False,"Sarawak, MY",...,NaN,obscured,True,NaN,NaN,Nasalis larvatus,Proboscis Monkey,Mammalia,43538,2111310
1,5715,2009-07-25,2009-07-25 14:34:00 UTC,Pacific Time (US & Canada),343,2010-02-21 17:07:08 UTC,CC-BY-NC-ND,http://www.inaturalist.org/observations/5715,False,"North-West, Botswana",...,NaN,open,False,NaN,NaN,Papio ursinus,Chacma Baboon,Mammalia,57556,11922309
2,7263,2010-05-12,NaN,Eastern Time (US & Canada),169,2010-05-25 18:11:34 UTC,CC-BY-NC,http://www.inaturalist.org/observations/7263,False,"Misahualli, Ecuador",...,NaN,NaN,False,NaN,NaN,Saguinus nigricollis,Black-mantled Tamarin,Mammalia,43386,9173998
3,8752,2010-03-15,NaN,Nairobi,477,2010-10-31 21:52:04 UTC,CC0,http://www.inaturalist.org/observations/8752,False,Tanzania,...,NaN,obscured,True,NaN,NaN,Piliocolobus kirkii,Zanzibar Red Colobus Monkey,Mammalia,326032,11921010
4,9389,2009-08-19,NaN,Pacific Time (US & Canada),477,2010-12-19 19:47:24 UTC,CC0,http://www.inaturalist.org/observations/9389,False,Rio de janiero,...,NaN,NaN,False,NaN,NaN,Callithrix jacchus,Common Marmoset,Mammalia,43373,11937476

In [27]:
wd_df = pd.read_csv('ids.csv',sep=',')
wd_df = wd_df.fillna(0)
wd_df = wd_df.astype({'iNaturalist_taxon_ID':'int64','GBIF_taxon_ID':'int64','ITIS_TSN':'int64','NCBI_taxonomy_ID':'int64'})
wd_df.head()

,item,iNaturalist_taxon_ID,GBIF_taxon_ID,ITIS_TSN,NCBI_taxonomy_ID
0,http://www.wikidata.org/entity/Q25644,6980,2498083,175093,75856
1,http://www.wikidata.org/entity/Q26800,4449,5229230,176890,279953
2,http://www.wikidata.org/entity/Q74092,7867,2488962,561694,409288
3,http://www.wikidata.org/entity/Q102361,65868,2422186,773600,2545441
4,http://www.wikidata.org/entity/Q135542,47671,6009,157212,7600

In [48]:
NCBI_taxon_ID = []
iNat_taxon_ID = []
GBIF_taxon_ID = []
for item in inat_obs_df['taxon_id']:
    iNat_taxon_ID.append(item)
    row = wd_df.loc[wd_df['iNaturalist_taxon_ID'] == item]
    if(not row.empty):
        NCBI_taxon_ID.append(row['NCBI_taxonomy_ID'].values[0])
        GBIF_taxon_ID.append(row['GBIF_taxon_ID'].values[0])
    else:
        NCBI_taxon_ID.append(int(0))
        GBIF_taxon_ID.append(int(0))

print(len(iNat_taxon_ID))
print(len(NCBI_taxon_ID))
print(len(GBIF_taxon_ID))

53839
53839
53839

In [51]:
inat_obs_df["iNat_Taxon_ID"] = iNat_taxon_ID
inat_obs_df["NCBI_Taxon_ID"] = NCBI_taxon_ID
inat_obs_df["GBIF_Taxon_ID"] = GBIF_taxon_ID

In [54]:
inat_obs_df.drop("taxon_id",axis=1,inplace=True)

In [57]:
inat_obs_df.head()

,id,observed_on,time_observed_at,time_zone,user_id,created_at,license,url,captive_cultivated,place_guess,...,coordinates_obscured,positioning_method,positioning_device,scientific_name,common_name,iconic_taxon_name,geonameid,iNat_Taxon_ID,NCBI_Taxon_ID,GBIF_Taxon_ID
0,2420,2005-03-12,2005-03-12 05:16:00 UTC,Sydney,221,2009-04-26 11:11:33 UTC,NaN,http://www.inaturalist.org/observations/2420,False,"Sarawak, MY",...,True,NaN,NaN,Nasalis larvatus,Proboscis Monkey,Mammalia,2111310,43538,43780,2436525
1,5715,2009-07-25,2009-07-25 14:34:00 UTC,Pacific Time (US & Canada),343,2010-02-21 17:07:08 UTC,CC-BY-NC-ND,http://www.inaturalist.org/observations/5715,False,"North-West, Botswana",...,False,NaN,NaN,Papio ursinus,Chacma Baboon,Mammalia,11922309,57556,36229,7262029
2,7263,2010-05-12,NaN,Eastern Time (US & Canada),169,2010-05-25 18:11:34 UTC,CC-BY-NC,http://www.inaturalist.org/observations/7263,False,"Misahualli, Ecuador",...,False,NaN,NaN,Saguinus nigricollis,Black-mantled Tamarin,Mammalia,9173998,43386,9489,2436477
3,8752,2010-03-15,NaN,Nairobi,477,2010-10-31 21:52:04 UTC,CC0,http://www.inaturalist.org/observations/8752,False,Tanzania,...,True,NaN,NaN,Piliocolobus kirkii,Zanzibar Red Colobus Monkey,Mammalia,11921010,326032,591937,4266987
4,9389,2009-08-19,NaN,Pacific Time (US & Canada),477,2010-12-19 19:47:24 UTC,CC0,http://www.inaturalist.org/observations/9389,False,Rio de janiero,...,False,NaN,NaN,Callithrix jacchus,Common Marmoset,Mammalia,11937476,43373,9483,5219542

In [58]:
inat_obs_df.to_csv("obs_data_taxon_ID.csv",sep=',',index=False)